.page {
    font-family: Poppins, sans-serif, Arial;
    font-style: normal;
    font-weight: 400;
    display: flex;
    position: relative;
}


@media screen and (max-width: 559px) {
    .page {
        flex-direction: column;
    }
}