.page {
    font-family: Poppins, sans-serif, Arial;
    font-style: normal;
    font-weight: 400;
    display: flex;
    position: relative;
    background-image: url("../../images/bg.jpg");
    background-repeat: no-repeat;
    min-height: 100vh;
    background-size: cover;
}

@media screen and (max-width: 559px) {
    .page {
        flex-direction: column;
        background-size: auto 242px;
    }
}