.authorization__link-wrapper {
    font-size: var(--s-font-size);
    line-height: 21px;
    color: var(--grey-medium);
    margin: auto 0 80px;
}

@media screen and (max-width: 559px) {
    .authorization__link-wrapper {
        display: flex;
        flex-direction: column;
        margin: auto 0 44px;
    }
}