{
  "extends": "airbnb-base",
  "rules": {
    "no-underscore-dangle":  ["off", { "allow": ["id"] }],
    "semi": ["error", "always"],
    "quotes": ["error", "double"]
  },
  "env": {
    "browser": true
  }
}