.input-btn {
    cursor: pointer;
    position: absolute;
    right: 26px;
    top: 18px;
    width: 20px;
    height: 20px;
}

@media screen and (max-width: 559px) {
    .input-btn {
        right: 18px;
        top: 10px;
    }
}