.authorization__title {
    margin-bottom: var(--auth-item-margin-bottom);
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 110%;
    margin-top: 16.4vh;
    height: 32px;
    display: flex;
    align-items: center;
}

@media screen and (max-width: 559px) {
    .authorization__title {
        margin-top: 4.5vh;
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 24px;
    }
}