.card__client {
    display: grid;
    grid-template-rows: 32px 16px;
    grid-template-columns: 64px 16px auto 40px;
    padding: 24px 32px;
    grid-template-areas:
        "avatar name name button"
        "avatar indicator status button";
    border-bottom: 1px solid #dce0ec;
}

@media screen and (max-width: 650px) {
    .card__client {
        padding: 16px 24px;
        grid-template-rows: 32px 32px;
    }
}