.input {
    width: 100%;
    font-size: 17px;
    line-height: 24px;
    border: 1px solid #DCE0EC;
    padding: 15px 40px 15px 64px;
    border-radius: 8px;
}

.input:focus, .input:active {
    border: 1px solid #7297FF;
    outline: none;
}

.input::placeholder {
    font-weight: normal;
    font-size: 17px;
    line-height: 24px;
    color: #A1ABC9;
}


@media screen and (max-width: 559px) {
    .input {
        padding: 9px 35px 9px 48px;
        font-size: 15px;
        line-height: 21px;
    }
    .input::placeholder {
        font-size: 15px;
        line-height: 21px;
    }
}


