.input-error {
    color: #F6657F;
    font-size: 13px;
    line-height: 120%;
    margin-top: 8px;
    letter-spacing: -0.24px;
}

@media screen and (max-width: 559px) {
    .input-error {
        margin-top: 15px;
    }
}