.authorization__input-with-err {

}


@media screen and (max-width: 559px) {
    .authorization__input-with-err {
        margin-bottom: 70px;
    }
    .authorization__input-with-err:last-of-type {
        margin-bottom: 80px;
    }

    .authorization__input-with-err .authorization__input {
        border: 1px solid #FF2567;
    }
}

