@media screen and (max-width: 769px) {
    .search-mobile {
        background-image: url("../../../../images/search.svg");
        height: 20px;
        width: 20px;
        margin-right: 28px;
    }
}

@media screen and (max-width: 650px) {
    .search-mobile {
        margin-right: 28px;
    }
}
