
@media screen and (max-width: 769px) {
    .sort-mobile {
        background-image: url("../../../../images/sort.svg");
        height: 20px;
        width: 20px;
        margin-right: 58px;
    }
}

@media screen and (max-width: 650px) {
    .sort-mobile {
        margin-right: 2px;
    }
}