.authorization__input {
    font-size: 17px;
    line-height: 24px;
    width: 100%;
    border: none;
    height: 56px;
    margin-left: 19px;
    padding: 0;
}

.authorization__input:focus, .authorization__input:active {
    outline: none;
    border: none;
}

.authorization__input::placeholder {
    font-weight: normal;
    font-size: 17px;
    line-height: 24px;
    color: #A1ABC9;
}



