.authorization__submit {
    height: 56px;
    min-height: 56px;
    margin-right: auto;
    background-color: #7297FF;
    border-radius: 8px;
    font-weight: 600;
    font-size: 17px;
    line-height: 24px;
    color: white;
    display: flex;
    align-items: center;
    padding: 0 32px 0 24px;
    box-sizing: border-box;
    border: none;
    cursor: pointer;
    transition: 0.3s background-color ease-in-out;
    margin-bottom: 32px;
}

.authorization__submit:active, .authorization__submit:focus {
    border: none;
    outline:none;
}

.authorization__submit:hover {
    background-color: #7288ff ;
}

@media screen and (max-width: 559px) {
    .authorization__submit {
        background-position: right 24px top 17px;
        font-size: 15px;
        line-height: 130%;
        padding: 0 24px 0 16px;
        height: 48px;
        min-height: 48px;
    }
}