.page_clinic {
    background: #E4EBFF;
    flex-direction: column;
    padding-right: 64px;
    padding-left: 64px;
    padding-bottom: 48px;
    box-sizing: border-box;
}


@media screen and (max-width: 650px) {
    .page_clinic {
        padding: 0;
    }
}