.authorization__link {
    color: #7297FF;
    text-decoration-line: underline;
    cursor: pointer;
    font-weight: 600;
    margin-left: 12px;
    transition: 0.3s color ease-in-out;
    font-size: var(--s-font-size);
    line-height: 24px;
}

.authorization__link:hover {
    color: #7288ff ;
}

.authorization__submit + .authorization__link {
    margin-left: 0;
    font-weight: 500;
    display: inline-block;
    margin-right: auto;
}

@media screen and (max-width: 559px) {
    .authorization__link {
        margin: 0;
    }
}