.clinic__content-config-search {
    display: none;
}

@media screen and (min-width: 779px) {
    .clinic__content-config-search {
        display: block;
        padding-left: 40px;
        background-image: url("../../../images/search.svg");
        background-size: 20px 20px;
        background-position: center left;
        background-repeat: no-repeat;
        background-color: transparent;
        padding-top: 6px;
        padding-bottom: 6px;
        border: none;
        width: 93px;
        font-size: 15px;
        line-height: 140%;
        height: 32px;
        margin-right: 48px;
    }

    .clinic__content-config-search::placeholder {
        color: #A1ABC9;
    }

    .clinic__content-config-search:active, .clinic__content-config-search:focus {
        outline: none;
    }
}


