.clinic__content-config-sort {
    border: none;
    background: transparent;
    color: #7297FF;
    font-size: 15px;
    line-height: 140%;
}

.clinic__content-config-sort:active, .clinic__content-config-sort:focus {
    border: none;
    outline: none;
}